
 <div class="stdBox">
    <div class="stdBoxHeader">Passwort vergessen?</div>
    <div class="stdBoxContent">
    <div class="stdInfoLine">
    Bitte trage hier Deine E-Mail-Adresse ein. Nach Click auf "Absenden" wird Dir ein Link per E-Mail zugesendet mit dem Du Dein Passwort zurücksetzten kannst
    </div>    
    <form method="post" action="./?page=ForgetPassword&action=sendMail">        
        <div class="stdFormLine">
            <div class="stdFormLineText">E-Mail:</div><div class="stdFormLineInput"><input name="email" type="text"></input></div>                       
        </div>
        <div class="stdFormLine">
            <input type="submit" value="absenden"></input>
        </div>        
    </form>
    </div>
</div>