
<div class="stdBox">
	<div class="stdBoxHeader">Login</div>
	<div class="stdBoxContent">
		<form method="post" action="./?page=Login&action=login">
		<div class="stdFormLine">
		  <div class="stdFormLineText">E-Mail:</div>
		  <div class="stdFormLineInput"><input type="text" name="email" /></div> 
		</div>
		<div class="stdFormLine">
          <div class="stdFormLineText">Passwort:</div>
          <div class="stdFormLineInput"><input type="password" name="password" /></div> 
        </div>	
        <div class="stdFormLine">
            <div class="stdFormLineText"><input type="submit" value="einloggen"/></div>            
        </div>		      
		
		{if !$passwordResetSuccessfull} 
		<div class="stdFormText">		
	           <a href="./?page=ForgetPassword">Passwort vergessen?</a>
	    </div>             	   
		{/if}
		</form>
	</div>
</div>

