<div class="stdBox">
    <div class="stdBoxHeader">Registrierung</div>
    <div class="stdBoxContent">
    <form action="./?page=Register&action=createUser" method="post">       
        <div class="stdFormLine">
            <div class="stdFormLineText">E-Mail / Login:</div>            
            <div class="stdFormLineInput"><input type="text" name="email"></input></div>                                   
        </div>
        <div class="stdFormLine">
            <input type="checkbox" name="newsletter" checked /> ich möchte über Updates in der Galerie per E-Mail informiert werden.  
        </div>                               
        <div class="stdFormLine">
            <div class="stdFormLineText">Anzeigename:</div>            
            <div class="stdFormLineInput"><input type="text" name="username"></input></div>                                   
        </div>
        <div class="stdFormLine">
            <div class="stdFormLineText">Passwort:</div>            
            <div class="stdFormLineInput"><input type="password" name="passwordOne"></input></div>                                   
        </div>
        <div class="stdFormLine">
            <div class="stdFormLineText">Passwort (Wiederholung):</div>            
            <div class="stdFormLineInput"><input type="password" name="passwordTwo"></input></div>                                   
        </div>
        <div class="stdFormLine">
            <input type="submit" value="Registrieren!"></input>
        </div>        
    </form>
    </div>
</div>

