{if !$keyInvalid}


 <div class="stdBox">
    <div class="stdBoxHeader">Passwort zurücksetzten</div>
    <div class="stdBoxContent">
    <div class="stdInfoLine">
    Bitte setzte Dein Passwort!  
    </div>    
    <form method="post" action="./?page=ResetPassword&key={$key}">   
        <div class="stdFormLine">
            <div class="stdFormLineText">E-Mail:</div><div class="stdFormLineInput"><input type="text" name="email" value="{$user->email}" readonly/></div>                       
        </div>
        <div class="stdFormLine">
            <div class="stdFormLineText">Passwort:</div><div class="stdFormLineInput"><input type="password" name="passwordOne"></input></div>                       
        </div>
        <div class="stdFormLine">
            <div class="stdFormLineText">Passwort (Wiederholung):</div><div class="stdFormLineInput"><input type="password" name="passwordTwo"></input></div>                       
        </div>
        <div class="stdFormLine">
            <input type="submit" value="Passwort ändern"></input>
        </div> 
        <input type="hidden" name="confirmed" value="true"/>       
    </form>
    </div>       
</div>
{/if}